.loud {
  color: red;
}

.headline {
  font-size: 20px;
}

.loud.headline {
  text-decoration: underline;
}

p {
  color:green;
}

tagname {

}

.class {

}

#id {

}

parent child {

}

.class1.class2 {
  //has both class1 and class2
}

.class1.class2 .class3 {
  //child of something with both class1 and class2 that has class3
}